* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  gap: 20px;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  background: black;
  position: fixed;
}

#User {
  width: 100px;
  height: 3em;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
}

#User::placeholder {
  text-align: center;
  color: white;
}

#User[type="text"] {
  color: white;
  text-align: center;
}

.Box {
  height: 90%;
  width: 100%;
  max-width: 100vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  background: white;
  border-radius: 20px;
}

.flex {
  width: 100%;
  display: flex;
  justify-content:  center;
  align-items: center;
  margin-top: 10px;
}

#Input {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 16px;
  outline: none;
}

#Button {
  padding: 5px;
  margin-left: 5px;
  border-radius: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.green-box {
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  padding: 10px;
  border: none;
  background-color: #4CAF50;
  border-radius: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
  overflow-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

span {
  margin-top: 20px;
  margin-right: -8px;
  margin-bottom: 0;
  color: white;
}

@keyframes hover {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(3px);
  }
}

.animateone {
  animation: hover 1.5s ease-in-out infinite alternate;
}